/Teste/nbproject/private/
/Teste/build/
/Professor/nbproject/private/
/Professor/build/
/BibliotecaArray/nbproject/private/
/BibliotecaArray/dist/
/BibliotecaArray/build/
/TesteArray/nbproject/private/
/TesteArray/build/
/TesteArray/dist/